In [1]:
age = int(input("Enter your age: "))
if age <= 21:
  print("You are eligible for the vote")

Enter your age: 21
You are eligible for the vote

In [3]:
age = input("Enter your age: ")
if age <= str(21):
  print("You are eligible for the vote")
else:
  print("You are not eligible for the vote")

Enter your age: 18
You are eligible for the vote

In [4]:
marks = 70
if marks >=90:
  print("Grade: A")
elif marks >=80:
  print("Grade: B")
elif marks >=70:
  print("Grade: C")
elif marks >=60:
  print("Grade: D")
else:
  print("Grade: F")

Grade: C

In [5]:
num = int(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Number is zero")
  else:
    print("Number is positive")
else:
  print("Number is negative")

Enter a number: 6
Number is positive

In [6]:
num = 10

if num > 5:
  if num % 2 == 0:
    print(f"{num} number is greater than 5")
  else:
    print("Odd number is greater than 5")

10 number is greater than 5

In [7]:
is_adult = True
has_voter_id = False
if is_adult or has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are eligible to vote

In [1]:
age = 15
message = "adult" if age >=18 else "Minor"
print(message)

Minor

In [3]:
#match-case
color = "red"

match color:
  case "red":
    print("Stop")
  case "yellow":
    print("Ready")
  case "green":
    print("Go")
  case _:
    print("Invalid Color")

Stop

In [4]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [5]:
for char in "Python":
  print(char)

P
y
t
h
o
n

In [9]:
person = {"name":"Alic", "age":25, "city":"Karachi","gender":"female"}
for key,value in person.items():
  print(f"{key}:{value}")

name:Alic
age:25
city:Karachi
gender:female

In [14]:
for i in range(5):
  print(i)

name = "javeria"
for i in range (3):
  print(name)

0
1
2
3
4
javeria
javeria
javeria

In [15]:

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [17]:
count = 0
while count < 5:
  print("Count:",count)
  count += 1
  print(f"After Count: {count}")

Count: 0
After Count: 1
Count: 1
After Count: 2
Count: 2
After Count: 3
Count: 3
After Count: 4
Count: 4
After Count: 5

In [19]:
while True:
  user_input = input("Enter quit to exit:")
  if user_input == 'quit':
    print("Exiting Loop")
    break

Enter quit to exit:quit
Exiting Loop

In [21]:
for i in range(10):
  if i == 5:
    print("Breaking the loop")
    break
  print(i)

0
1
2
3
4
Breaking the loop

In [22]:
for i in range(20):
  if i % 2 == 0:
    continue

  print(f"{i} is odd")

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd

In [23]:
for i in range(5):
  print(f"Processing {i}")
  if i == 3:
    pass
    print(f"Processing {i}")

Processing 0
Processing 1
Processing 2
Processing 3
Processing 3
Processing 4

In [25]:
for i in range(3):
  for j in range(2):
    print(f"i = {i} , j = {j}")

i = 0 , j = 0
i = 0 , j = 1
i = 1 , j = 0
i = 1 , j = 1
i = 2 , j = 0
i = 2 , j = 1

In [28]:
for i in range(1,6):
  for j in range(1,6):
    print(f"{i} x {j} = {i * j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [29]:
for num in range(5):
  print(num)
else:
  print("Loop completed")

0
1
2
3
4
Loop completed

In [31]:
for num in range(5):
  if num == 6:
    print("Breaking the loop")
    break
  print(num)
else:
  print("Loop completed without printing this")

0
1
2
3
4
Loop completed without printing this

In [32]:
nums = [1,2,3,4,5]
search = 7
for num in nums:
  if num == search:
    print(f"{search} found")
    break
else:
  print(f"{search} not found in the list")

7 not found in the list

In [35]:
def greet():
  print("Hello, World!")
greet()

def greet_user(name):
  print(f"Hello, {name}!")
greet_user("Javeria")

Hello, World!
Hello, Javeria!

In [37]:
def add(a,b):
  return a + b
print(add(5,3))

def say_hello():
  print("Hi there!")
say_hello()

def display_info(name,age):
  print(f"Name: {name}, Age: {age}")
display_info("Javeria",20)

8
Hi there!
Name: Javeria, Age: 20

In [8]:
def my_function():
  pass

result = my_function()
print(result)

None

In [9]:
def print_arg(*args):
  for arg in args:
    print(arg)
print_arg(1,2,3,4,5)

1
2
3
4
5

In [11]:
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}:{value}")
print_kwargs(name="Umair", age=25)

name:Umair
age:25

In [12]:
square = lambda x: x**2
print(square(5))   #x=5

25