In [1]:
#indentation
if True:
  print("This is my second class of Python language")

#comments
# if True: clt + /
# print("This is my second class of Python language")

This is my second class of Python language

In [2]:
#variables and constants
name = 'Umair'
age = 26
PI = 3.14159
print("My name is", name)
print("My age is", age)
print(PI)

My name is Umair
My age is 26
3.14159

In [3]:
#input and output fnctions
name = input("Enter your name: ")  #input function
print("My name is", name)  #output function
print(type(name))

Enter your name: Javeria
My name is Javeria
<class 'str'>

In [4]:
#Primitive Data type
x = 10 #integer
y = 10.01
z = 4 + 3j
print("Real number is,", z.real)
print("Imaginary number", z.imag)

Real number is, 4.0
Imaginary number 3.0

In [5]:
#string
sentence = "This is my second class of Python language"
print("Firs letter:", sentence[0])
print("Here is", sentence[-15])
greeting = "Python " + "language"
print(greeting)
repeat = "Python" * 3
print(repeat)
print("Sliced string:", sentence[0:4])
print("Sliced string:", sentence[0:23])
print("Lower case", sentence.lower())
print("Upper case", sentence.upper())
print("replace", sentence.replace("Python", "C++"))

Firs letter: T
Here is P
Python language
PythonPythonPython
Sliced string: This
Sliced string: This is my second class
Lower case this is my second class of python language
Upper case THIS IS MY SECOND CLASS OF PYTHON LANGUAGE
replace This is my second class of C++ language

In [6]:
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)
#List slicing
numbers[:3]

[1, 2, 3, 4, 5, 6]

[1, 2, 3]

In [7]:
numbers = (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [8]:
numbers = {1,2,3,4,5}
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [16]:
student = {"name": "Umair"}  #key value pair
student['name'] = "Talha"
print(student)
student['age'] = 26
print(student)

{'name': 'Talha'}
{'name': 'Talha', 'age': 26}

In [15]:
num1 = 10
num2 = 10.01
result  = num1 + num2
print(result)
print(type(result))

20.009999999999998
<class 'float'>

In [14]:
age = "26"
integer = 10
age = int(age)
# integer = str(integer)
# float(age)
print(type(age))
result = age + integer
print(result)

<class 'int'>
36

In [13]:
num1 = 10
num2 = 4

print("Equal", num1 == num2)
print("Not Equal", num1 != num2)
print("Greater than", num1 > num2)
print("Less than", num1 < num2)
print("Floor Division", num1 // num2)
print("Modulus", num1 % num2)
print("Exponent", num1 ** num2)

Equal False
Not Equal True
Greater than True
Less than False
Floor Division 2
Modulus 2
Exponent 10000

In [12]:
a=10
a+=5
a-=5
a*=5
a/=5
print(a)

10.0

In [11]:
import random
print(random.randint(1,10))
print(random.random())
print(random.randint(1,10))
items = ['Apple', "Bananas"]
print(random.choice(items))

4
0.6932884055747819
10
Bananas

In [10]:
num1 = 10
num2 = 4
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Floor Division", num1 // num2)
print("Modulus", num1 % num2)
print("Exponent", num1 ** num2)

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Floor Division 2
Modulus 2
Exponent 10000

In [9]:
p = True
q= False
print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

AND False
OR True
NOT False